{% extends 'base.html.twig' %}

{% block title %}New Norm{% endblock %}

{% block contenido %}
    <h1>Create new Norm</h1>

    {{ include('norm/_form.html.twig') }}

    <a href="{{ path('norm_index') }}">back to list</a>
{% endblock %}