{% extends 'base.html.twig' %}

{% block title %}New Modelo{% endblock %}

{% block contenido %}
    <h1>Create new Modelo</h1>

    {{ include('modelo/_form.html.twig') }}

    <a href="{{ path('modelo_index') }}">back to list</a>
{% endblock %}