<table class="table">
        <tbody>
            
            <tr>
                <th>Ram</th>
                <td>{{ modelo.ram }}</td>
            </tr>
            <tr>
                <th>Harddisk</th>
                <td>{{ modelo.harddisk }}</td>
            </tr>
            <tr>
                <th>Procesor</th>
                <td>{{ modelo.procesor }}</td>
            </tr>
        </tbody>
</table>