{% extends 'base.html.twig' %}

{% block title %}New Nor1{% endblock %}

{% block body %}
    <h1>Create new Nor1</h1>

    {{ include('nor1/_form.html.twig') }}

    <a href="{{ path('nor1_index') }}">back to list</a>
{% endblock %}